.dropdown-item {
  height: 20px;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item--red {
  background-color: red;
}

.dropdown-item--gray {
  background-color: gray;
}

.dropdown-item--green {
  background-color: green;
}
